*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0B2C54,#163B72);
    text-align:center;
    padding:20px;
}

.container{
    max-width:600px;
}

h1{
    font-size:140px;
    color:#FF9933;
    font-weight:700;
    margin-bottom:10px;
}

h2{
    color:white;
    font-size:40px;
    margin-bottom:20px;
}

p{
    color:#dcdcdc;
    line-height:1.8;
    margin-bottom:35px;
}

.home-btn{
    display:inline-block;
    text-decoration:none;
    background:#FF9933;
    color:white;
    padding:15px 35px;
    border-radius:40px;
    font-size:18px;
    transition:.3s;
}

.home-btn:hover{
    background:white;
    color:#0B2C54;
}

@media(max-width:768px){

    h1{
        font-size:90px;
    }

    h2{
        font-size:28px;
    }

    p{
        font-size:15px;
    }

}